<div style="display: flex; justify-content: space-between; align-items: center">
  {{- $title := cond (.Param "capitalizeTitles") (title .Title) .Title -}}
  {{- $params := partial "function/params.html" -}}
  {{- /* last mod */ -}}


  <div>
    {{- if (ne .Lastmod.Unix .PublishDate.Unix) | and $params.showLastmod -}}
      {{- with .Lastmod | dateFormat (.Site.Params.dateformat | default "2006-01-02") -}}
        <span
          title="{{ dict "Date" ("2006-01-02 15:04:05" | $.Lastmod.Format) | T "single.updatedOnDate" }}"
        >
          {{- dict "Class" "fa-regular fa-calendar-check me-1" | partial "plugin/icon.html" -}}
          {{- printf `<time datetime="%v">%v</time>` . . | safeHTML -}} </span
        >&nbsp;
      {{- end -}}
    {{- else -}}
      {{- with .PublishDate | dateFormat (.Site.Params.dateformat | default "2006-01-02") -}}
        <span
          title="{{ dict "Date" ("2006-01-02 15:04:05" | $.PublishDate.Format) | T "single.publishedOnDate" }}"
        >
          {{- dict "Class" "fa-solid fa-calendar-days me-1" | partial "plugin/icon.html" -}}
          {{- printf `<time datetime="%v">%v</time>` . . | safeHTML -}} </span
        >&nbsp;
      {{- end -}}
    {{- end -}}
  </div>

  <div>
    {{- if $params.wordCount -}}
      <span title="{{ T "single.wordCount" .WordCount }}">
        {{- dict "Class" "fa-solid fa-pencil-alt me-1" | partial "plugin/icon.html" -}}
        {{- T "single.fuzzyWordCount" .FuzzyWordCount -}} </span
      >&nbsp;
    {{- end -}}
    {{- if $params.readingTime -}}
      <span>
        {{- dict "Class" "fa-regular fa-clock me-1" | partial "plugin/icon.html" -}}
        {{- T "single.readingTime" .ReadingTime -}} </span
      >&nbsp;
    {{- end -}}
  </div>

  {{- $comment := .Store.Get "comment" | default dict -}}
  {{- $visitorIcon := dict "Class" "fa-regular fa-eye me-1" | partial "plugin/icon.html" -}}
  {{- $commentIcon := dict "Class" "fa-regular fa-comments me-1" | partial "plugin/icon.html" -}}

  {{- /* Visitor Count */ -}}
  {{- if $comment.enable | and $comment.artalk.enable -}}
    <span class="comment-visitors" data-flag-title="{{ $title }}">
      {{- $visitorIcon }}<span
        class="artalk-visitor-count"
        data-page-key="{{ .RelPermalink }}"
        >-</span
      >&nbsp;{{ T "single.views" }} </span
    >&nbsp;
  {{- else if $comment.enable | and $comment.valine.enable | and $comment.valine.visitor -}}
    <span
      id="{{ .RelPermalink }}"
      class="leancloud_visitors comment-visitors"
      data-flag-title="{{ $title }}"
    >
      {{- $visitorIcon }}<span class="leancloud-visitors-count">-</span
      >&nbsp;{{ T "single.views" }} </span
    >&nbsp;
  {{- else if $comment.enable | and $comment.waline.enable | and $comment.waline.pageview -}}
    <span class="comment-visitors" data-flag-title="{{ $title }}">
      {{- $visitorIcon }}<span
        data-path="{{ .RelPermalink }}"
        class="waline-pageview-count"
        >-</span
      >&nbsp;{{ T "single.views" }} </span
    >&nbsp;
  {{- else if $comment.enable | and $comment.twikoo.enable | and $comment.twikoo.visitor -}}
    <span
      id="{{ .RelPermalink }}"
      class="comment-visitors"
      data-flag-title="{{ $title }}"
    >
      {{- $visitorIcon }}<span id="twikoo_visitors">-</span
      >&nbsp;{{ T "single.views" }} </span
    >&nbsp;
  {{- else if .Site.Params.busuanzi.enable | and .Site.Params.busuanzi.pageViews | and hugo.IsProduction -}}
    <span
      id="busuanzi_container_page_pv"
      class="busuanzi_visitors comment-visitors"
      data-flag-title="{{ $title }}"
    >
      {{- $visitorIcon }}<span id="busuanzi_value_page_pv">-</span
      >&nbsp;{{ T "single.views" }} </span
    >&nbsp;
  {{- end -}}
</div>
